<app-card [buttonType]="buttonType"
          class="medium-6 grid-x grid-margin-x cell align-center-middle center"
          [title]="'Changer votre mot de passe'">

  <form [formGroup]="passwordChangeGroup" (ngSubmit)="onSubmit()">
    <div class="grid-x grid-padding-x grid-padding-y">
      <mat-form-field class="cell" *ngFor="let data of formLayout">
        <mat-label>{{data.label}}</mat-label>
        <input matInput [formControlName]="data.name"
               type="password"
               [placeholder]="data.label" required autocomplete="off">
      </mat-form-field>
      <div class="cell end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!passwordChangeGroup.valid">
          Changer mot de passe
        </button>
        <button
          mat-raised-button
          color="primary"
          type="reset"
          (click)="passwordChangeGroup.reset()">
          Reset
        </button>
      </div>
    </div>

  </form>

</app-card>
