#btnLogin
  font-size: 14px
  margin-top: 10px
  padding: 10px
  width: 100%

mat-card-content
  padding: 10px
  margin: 0

.paddingForm
  padding-top: 5rem

input
  border-radius: 0
  padding: 13px
  background-color: #fff
  width: 100%
  border: solid 1px #eee

.card-header
  background-color: #03a9f4
  color: rgb(255, 255, 255)

.card-body
  background-color: rgba(224, 225, 224, .1)

.help-block
  color: #d50000

form
  font-size: 14px

.form-margin
  margin-top: 20px

mat-card-title
  width: 100%

.text-s14
  font-size: 14px

.padding-link
  padding: 5px
