<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div class="grid-x center-vertical-horizontal">
    <mat-card style="padding: 20px!important;" class="rounded">
      <mat-card-title class="cell" style="text-align: center!important;">
        <img src="../../../../assets/logo-onp.jpg">
      </mat-card-title>
      <mat-card-content>
        <div class="cell" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username" class="text-s14">Email ou votre CIN</label>
          <input type="text" #username="ngModel" [(ngModel)]="model.username"
                 class="side-margins"
                 placeholder="Email ou CIN"
                 name="username" id="username" required="">
          <div *ngIf="f.submitted && !username.valid" class="help-block">
            <mat-icon>close</mat-icon>
            Veuillez saisir votre cin ou email
          </div>
        </div>
        <div class="cell form-margin" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password" class="text-s14">Mot de passe</label>
          <input type="password" placeholder="Mot de passe" name="password"
                 class="side-margins" [(ngModel)]="model.password" #password="ngModel"
                 id="password" required>
          <div *ngIf="f.submitted && !password.valid" class="help-block">
            <mat-icon>close</mat-icon>
            Veuillez saisir votre mot de passe
          </div>
        </div>
        <div class="cell text-s14 padding-link">
          <a href="#" [routerLink]="['/forgot/password']" class="float-right">Mot de passe oublié</a>
        </div>
        <div class="cell grid-x align-center">
          <button mat-raised-button color="primary" type="submit" id="btnLogin">
            se connecter
          </button>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</form>
