<app-card [buttonType]="buttonType"
          [title]="'Services'"
          class="fix-no-scroll-card"
          (deleteEvent)="onDelete()">

  <app-card-form
    [formGroup]="serviceForm"
    [buttonText]="buttonText"
    [formLayout]="formLayout"
    (formSubmitted)="onFormSubmit($event)"></app-card-form>

  <app-datatable-pageable
    #dataTable
    [tableType]="typeTable"
    (selectEvent)="onSelect($event)"
    [footerText]="'Services'"
    [columns]="columns">
  </app-datatable-pageable>
</app-card>
