<app-form-card *ngIf="edit || add">
  <form [formGroup]="contactFormGroup" (ngSubmit)="onFormSubmit()">
    <div class="grid-x grid-margin-x small-up-2 large-up-4">

      <mat-form-field class="cell">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom"
               placeholder="Nom" required>
      </mat-form-field>

      <mat-form-field class="cell">
        <mat-label>Prenom</mat-label>
        <input matInput formControlName="prenom"
               placeholder="Prenom" required>
      </mat-form-field>

      <mat-form-field class="cell">
        <mat-label>Téléphone</mat-label>
        <input (keypress)="formService.onNumericInput($event)" maxlength="10" matInput formControlName="tel"
               #tel
               placeholder="téléphone" required>
        <mat-hint align="end">{{tel.value.length}} / 10</mat-hint>
      </mat-form-field>

      <mat-form-field class="cell">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"
               placeholder="Email" required>
      </mat-form-field>

    </div>

    <div footer class="cell end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!contactFormGroup.valid">
        {{contactData? 'Modifier':'Ajouter'}}
      </button>
      <button mat-raised-button color="primary" *ngIf="!contactData" (click)="contactFormGroup.reset()">Reset</button>
    </div>

  </form>
</app-form-card>
