<mat-card class="float-center" [class.selected]="selected">
  <img [src]="image | secure" (click)="onCardClicked()">
  <span class="center"><strong>{{fullName}}</strong></span>
  <button *ngIf="showButton" mat-button (click)="onButtonClicked()">{{buttonText}}</button>
</mat-card>
