mat-card
  width: 150px
  border-radius: 8px

*
  cursor: pointer

.selected
  border: 4px solid grey

img
  border-top-left-radius: 8px
  border-top-right-radius: 8px
  width: 150px
  height: 150px

button
  border-radius: 0 !important
  width: 100%
