<app-form-card *ngIf="edit || add">
  <form [formGroup]="expFormGroup" (ngSubmit)="onFormSubmit()">
    <div class="grid-x grid-margin-x small-up-2 large-up-4">

      <mat-form-field class="cell">
        <mat-label>Nombre de mois</mat-label>
        <input matInput formControlName="mois"
               placeholder="Nombre de mois" required>
      </mat-form-field>

      <mat-form-field class="cell">
        <mat-label>Lieu</mat-label>
        <input matInput formControlName="lieu"
               placeholder="Lieu" required>
      </mat-form-field>

      <mat-form-field class="cell" *ngIf="userService.isAdmin()">
        <mat-label>Note</mat-label>
        <input maxlength="10"
               matInput
               (keypress)="formService.onNumericInput($event)"
               formControlName="note"
               placeholder="Note"
               required>
        <mat-hint align="end">Valeur entre 1 et 5</mat-hint>
      </mat-form-field>

      <mat-form-field class="cell">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description"
               placeholder="Description" required>
      </mat-form-field>

    </div>

    <div footer class="cell end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!expFormGroup.valid">
        {{edit? 'Modifier':'Ajouter'}}
      </button>
      <button mat-raised-button color="primary" *ngIf="!experience" (click)="expFormGroup.reset()">Reset</button>
    </div>

  </form>
</app-form-card>
