<div
  class="grid-x grid-margin-y grid-margin-x small-up-2 medium-up-3 large-up-4  align-center-middle">
  <app-chart-small-card
    [@zoomIn]="zoomIn"
    class=" cell"
    [title]="'Nombre des employées'"
    [icon]=""
    [valeur]="stats?.nombreEmploye">
  </app-chart-small-card>

  <app-chart-small-card
    [@zoomIn]="zoomIn"
    class=" cell"
    [title]="'Note moyenne'" [valeur]="stats?.noteMoyenne">
  </app-chart-small-card>

  <app-chart-small-card
    [@zoomIn]="zoomIn"
    class=" cell"
    [title]="'Age moyenne'"
    [valeur]="stats?.ageMoy+ ' ans'">
  </app-chart-small-card>

  <app-chart-small-card
    [@zoomIn]="zoomIn"
    class=" cell"
    [title]="'Anciennité moyenne'" [valeur]="stats?.ancienniteAnneeMoy+' ans'">
  </app-chart-small-card>

  <app-chart-small-card
    [@zoomIn]="zoomIn"
    class=" cell"
    [title]="'Salaire moyenne'"
    [valeur]="stats?.salaireMoy+' DH'">
  </app-chart-small-card>

  <app-chart-small-card
    [@zoomIn]="zoomIn"
    class=" cell"
    [title]="'Prime accordé'"
    [valeur]="stats?.totalPrime">
  </app-chart-small-card>

  <app-chart-small-card
    class=" cell"
    [@zoomIn]="zoomIn"
    [title]="'Postes'"
    [valeur]="stats?.posteCount">
  </app-chart-small-card>
</div>

<nz-divider [nzText]="'Statistiques'"></nz-divider>
<div class="grid-x grid-margin-y grid-margin-x medium-up-2" *ngIf="isData">
  <app-chart-donut
    class="cell"
    [@fadeInLeft]="fadeInLeft"
    [type]="'pie'"
    [title]="'Congé'"
    [data]="stats.congeData"
    [labels]="stats.congeLabels"
  ></app-chart-donut>
  <app-chart-donut
    [@fadeInRight]="fadeInRight"
    class="cell"
    [type]="'pie'"
    [title]="'Absence'"
    [data]="stats.absenceData"
    [labels]="stats.absenceLabels"
  ></app-chart-donut>
  <app-chart-donut
    [@fadeInLeft]="fadeInLeft"
    class="cell"
    [title]="'Status de famille'"
    [data]="stats.statsFamilleData"
    [labels]="stats.statsFamilleLabel"
  ></app-chart-donut>
  <app-chart-donut
    class="cell"
    [@fadeInRight]="fadeInRight"
    [title]="'Sexe'"
    [data]="stats.sexeData"
    [labels]="stats.sexeLabel"
  ></app-chart-donut>
  <app-chart-donut
    [@fadeInLeft]="fadeInLeft"
    class="cell"
    [title]="'Echelle'"
    [data]="stats.echelleLabels"
    [labels]="stats.echelleLabels"
  ></app-chart-donut>
  <app-chart-donut
    class="cell"
    [@fadeInRight]="fadeInRight"
    [title]="'Echellon'"
    [data]="stats.echellonsData"
    [labels]="stats.echellonsLabels"
  ></app-chart-donut>
  <app-chart-donut
    [@fadeInLeft]="fadeInLeft"
    class="cell"
    [type]="'pie'"
    [title]="'Salaire'"
    [data]="stats.salaireData"
    [labels]="stats.salaireLabel"
  ></app-chart-donut>
  <app-chart-donut
    class="cell"
    [@fadeInRight]="fadeInRight"
    [title]="'Service'"
    [data]="stats.serviceData"
    [labels]="stats.serviceLabels"
  ></app-chart-donut>
  <app-chart-donut
    [@fadeInLeft]="fadeInLeft"
    class="cell"
    [type]="'pie'"
    [title]="'Poste'"
    [data]="stats.posteData"
    [labels]="stats.posteLabels"
  ></app-chart-donut>
  <app-chart-donut
    class="cell"
    [@fadeInRight]="fadeInRight"
    [type]="'pie'"
    [title]="'Grade'"
    [data]="stats.gradeData"
    [labels]="stats.gradeLabels"
  ></app-chart-donut>

</div>
