<app-card [title]="title" [buttonType]="noRowButton">
  <ng-content></ng-content>
  <div>
    <canvas baseChart
            [datasets]="data"
            [labels]="labels"
            [legend]="true"
            [chartType]="'line'"
            [options]="{responsive: true}"></canvas>
  </div>
</app-card>
