<app-card
  [title]="'Mes absences'"
  (justifEvent)="onUpdate()"
  [buttonType]="rowButtonType">
  <app-search (searchEvent)="onSearch($event)"></app-search>
  <app-justifier-absence (absenceChanged)="onAbsenceChange()" [absenceId]="absenceId"
                         *ngIf="showForm.add"></app-justifier-absence>
  <app-datatable-pageable
    #datatable
    [query]="query"
    (selectEvent)="onSelect($event)"
    [columns]="columns"
    [isDownload]="true"
    [footerText]="'absences'"
    [tableType]="tableType">
  </app-datatable-pageable>
</app-card>
