<ngx-datatable
  #table
  class='material round-datatable'
  [rows]="data"
  [columns]="columns"
  [columnMode]="'force'"
  [sortType]="'multi'"
  [scrollbarH]="true"
  [selectAllRowsOnPage]="false"
  [headerHeight]="50"
  [footerHeight]="50"
  [selectionType]="'multiClick'"
  [selected]="selected"
  [rowHeight]="'auto'"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  (select)="onSelect($event)"
  [limit]="page.size"
  [loadingIndicator]="loading"
  (page)='onPage($event)'
  [externalPaging]="true">

  <ngx-datatable-column name="Profile" [width]="80" *ngIf="isImage">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <img *ngIf="row.image !== ''" (click)="onProfile(row)" class="round-image-no-border cell"
           [src]="row.image |secure">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngFor="let column of columns"
    [name]="column.name"
    [width]="50"
    [prop]="column.prop">
  </ngx-datatable-column>

  <div *ngIf="isEmailPresent">
    <ngx-datatable-column name="Email" prop="email" [width]="20">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a [href]="'mailto:'+value">
          <button mat-icon-button="">
            <mat-icon color="primary"> email</mat-icon>
          </button>
        </a>
      </ng-template>
    </ngx-datatable-column>
  </div>

  <ngx-datatable-column prop="lien" [width]="20" name="Télécharger" *ngIf="isDownload">
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <a mat-icon-button (click)="onDownloadClicked(row)" [disabled]="!row.lien">
        <mat-icon>file_download</mat-icon>
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="status" [width]="20" name="Etat" *ngIf="isConge">
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="'CHECKING'" class="checking">En cours de vérification</p>
        <p *ngSwitchCase="'REFUSED'" class="refused">Réfusé</p>
        <p *ngSwitchCase="'ACCEPTED'" class="accepted">Accepté</p>
        <p *ngSwitchCase="'NOT_SEEN_YET'" class="new">Nouveau</p>
        <p *ngSwitchCase="'CANCELLED'" class="checking">Anullé</p>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount=" rowCount"
      let-pageSize="pageSize">
      <div style="padding: 14px;">
        {{footerText}} : {{rowCount}}
      </div>
      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [size]="pageSize"
        (change)="table.onFooterPage($event)"
        [count]="rowCount"
        [hidden]="!((rowCount / pageSize) > 1)">
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>

</ngx-datatable>

