<app-card
  [title]="'Documents'"
  (deleteEvent)="onDelete()"
  (addEvent)="onAdd()"
  [buttonType]="rowButtonType">

  <app-profile-document-form
    [edit]="showForm.edit"
    [add]="showForm.add"
    (documentChange)="onChange()"
  ></app-profile-document-form>

  <app-search (searchEvent)="onSearch($event)"></app-search>

  <app-datatable-pageable
    #datatable
    [query]="query"
    [columns]="columns"
    [isDownload]="true"
    [footerText]="'Documents'"
    [tableType]="tableType"
    (selectEvent)="onSelect($event)">

  </app-datatable-pageable>

</app-card>
