<div class="grid-x grid-margin-y grid-margin-x small-up-1 large-up-2">
  <app-settings-competence class="cell"></app-settings-competence>
  <app-settings-poste class="cell"></app-settings-poste>
  <app-settings-language class="cell"></app-settings-language>
  <app-settings-service class="cell"></app-settings-service>
  <app-settings-prime class="cell auto"></app-settings-prime>
</div>
