.hvr-bounce-to-right
  display: inline-block
  vertical-align: middle
  -webkit-transform: perspective(1px) translateZ(0)
  transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative
  -webkit-transition-property: color
  transition-property: color
  cursor: pointer
  -webkit-transition-duration: 0.5s
  transition-duration: 0.5s

.hvr-bounce-to-right:before
  content: ""
  position: absolute
  z-index: -1
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #eee
  -webkit-transform: scaleX(0)
  transform: scaleX(0)
  -webkit-transform-origin: 0 50%
  transform-origin: 0 50%
  -webkit-transition-property: transform
  transition-property: transform
  -webkit-transition-duration: 0.5s
  transition-duration: 0.5s
  -webkit-transition-timing-function: ease-out
  transition-timing-function: ease-out

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before
  -webkit-transform: scaleX(1)
  transform: scaleX(1)
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)

.list
  padding: 10px

mat-icon
  margin: 6px

.fab
  position: relative
  bottom: 0
