<div class="grid-x grid-margin-x stick-header">
  <a [ngx-scroll-to]="nav.link" mat-list-item class="no-link cell hvr-bounce-to-right float-center list"
     *ngFor="let nav of sidebarService.profileNavs">
    <mat-icon class="valign-center">{{nav.icon}}</mat-icon>
    <span>{{nav.title}}</span>
  </a>
</div>
