<app-card
  [title]="'Demande de congé'"
  (acceptEvent)="onAccept()"
  (refuseEvent)="onRefuse()"
  (checkingEvent)="onCheck()"
  [buttonType]="rowButtonType">

  <app-search (searchEvent)="onSearch($event)"></app-search>

  <app-datatable-pageable
    #datatable
    [query]="query"
    [columns]="columns"
    [isConge]="true"
    [isDownload]="true"
    [footerText]="'demandes des congés'"
    [tableType]="tableType"
    (selectEvent)="onSelect($event)">
  </app-datatable-pageable>
</app-card>
