<div class="grid-x grid-margin-x grid-margin-y">
  <app-chart-line
    class="cell"
    *ngIf="isData"
    [labels]="absenceStats?.absenceLabels"
    [data]="[{data:absenceStats?.absenceData,label: 'Absence'}]"
    [title]="'Absence'">
    <app-stats-form (daysEvent)="onAbsenceDays($event)" (dateEvent)="onAbsenceDate($event)"></app-stats-form>
  </app-chart-line>
</div>
