<app-form-card *ngIf="edit || add">
  <form (ngSubmit)="onFormSubmit()" [formGroup]="primeForm">
    <div class="grid-x grid-margin-x mt-bottom align-center align-middle">
      <div class="cell medium-4">
        <nz-select
          matTooltip="liste des primes disponible"
          class="cell"
          nzShowSearch
          nzAllowClear
          [nzSize]="'large'"
          nzPlaceHolder="Selectionner prime :"
          required
          [formControlName]="'prime'">
          <nz-option *ngFor="let prime of allPrimes" [nzLabel]="prime.prime" [nzValue]="prime"></nz-option>
        </nz-select>
      </div>
      <div class="cell medium-4 center"><strong>Condition :</strong> {{primeForm.get('prime').value?.condition}}</div>
      <div class="cell medium-4 center"><strong>Plafond :</strong> {{primeForm.get('prime').value?.plafond}} dh</div>
    </div>

    <div footer class="cell end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!primeForm.valid">
        {{edit? 'Modifier':'Ajouter'}}
      </button>
      <button mat-raised-button color="primary" *ngIf="!contactData" (click)="primeForm.reset()">Reset</button>
    </div>

  </form>
</app-form-card>
