<app-card
  [title]="'Contacts'"
  (addEvent)="onAdd()"
  (deleteEvent)="onDelete()"
  (updateEvent)="onEdit()"
  [buttonType]="rowButtonType">

  <app-profile-contact-form
    [add]="showForm.add"
    [edit]="showForm.edit"
    (contactChanged)="onChange()"
    [contactData]="contact"
  ></app-profile-contact-form>

  <app-search (searchEvent)="onSearch($event)"></app-search>

  <app-datatable-pageable
    #datatable
    [query]="query"
    [columns]="columns"
    [footerText]="'contacts'"
    [tableType]="tabletype"
    [isEmailPresent]="true"
    (selectEvent)="onSelect($event)"
  ></app-datatable-pageable>

</app-card>


