<app-card [title]="'Experiences'"
          [buttonType]="rowButtonType"
          (addEvent)="onAdd()"
          (deleteEvent)="onDelete()"
          (updateEvent)="onEdit()">

  <app-profile-exp-form
    [add]="showForm.add"
    [edit]="showForm.edit"
    [experience]="experience"
    (expChanged)="onChange()"
  ></app-profile-exp-form>

  <app-search (searchEvent)="onSearch($event)"></app-search>

  <app-datatable-pageable
    #datatable
    [query]="query"
    (selectEvent)="onSelect($event)"
    [isEmailPresent]="false"
    [columns]="columns"
    [tableType]="tableType"
  ></app-datatable-pageable>

</app-card>
