<ngc-float-button icon="add" color="#ff5722" class="show-for-small-only">
  <ngc-float-item-button *ngFor="let button of buttons" [(icon)]="button.iconName" [content]="button.title"
                         (click)="onButtonClicked($event,button.title)"></ngc-float-item-button>
</ngc-float-button>

