<app-card [buttonType]="buttonType"
          [title]="'Primes'"
          class="fix-no-scroll-card"
          (deleteEvent)="onDelete()"
          (updateEvent)="onEdit()">

  <app-card-form
    [formGroup]="primeForm"
    [buttonText]="buttonText"
    [formLayout]="formLayout"
    (formSubmitted)="onFormSubmit($event)"></app-card-form>

  <app-datatable-pageable
    #dataTable
    [tableType]="typeTable"
    (selectEvent)="onSelect($event)"
    [footerText]="'Primes'"
    [columns]="columns">
  </app-datatable-pageable>
</app-card>
