<mat-card class="mat-elevation-z2">
  <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">

    <mat-form-field class="cell" *ngFor="let data of formLayout">
      <mat-label>{{data.label}}</mat-label>
      <input matInput [formControlName]="data.name"
             [placeholder]="data.label" required autocomplete="off" [type]="data.type">
    </mat-form-field>

    <div class="cell end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid">
        {{buttonText}}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="reset"
        (click)="onReset()">
        Reset
      </button>
    </div>

  </form>
</mat-card>
