<app-card
  [title]="'Historique des congés'"
  [buttonType]="rowButtonType">
  <app-search (searchEvent)="onSearch($event)"></app-search>
  <app-datatable-pageable
    #datatable
    [query]="query"
    [columns]="columns"
    [isConge]="true"
    [isDownload]="true"
    [footerText]="'congés'"
    [tableType]="tableType">
  </app-datatable-pageable>
</app-card>
