<app-form-card>
  <div class="grid-x grid-margin-x align-middle">
    <nz-range-picker [nzPlaceHolder]="['date début ','date fin']" class="cell medium-5 center" [(ngModel)]="dateRange"
                     (ngModelChange)="onChange($event)"
                     nzShowTime
                     [ngModelOptions]="{standalone: true}">
    </nz-range-picker>
    <span class="cell medium-2 center" style="font-size: 16px;"><strong>- ou -</strong></span>
    <mat-form-field class="cell medium-5 center">
      <mat-label>Nombre de jour :</mat-label>
      <input matInput placeholder="Nombre de jour" type="number" (keyup.enter)="onDaysSubmit()"
             [(ngModel)]="days" required autocomplete="off" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>

</app-form-card>
