<div class="grid-x grid-margin-y grid-margin-x small-up-2 medium-up-3 large-up-4  align-center-middle">
  <app-chart-small-card
    class=" cell"
    [title]="'Anciennité'"
    [icon]=""
    [valeur]="stats?.anciennite">
  </app-chart-small-card>
  <app-chart-small-card
    class=" cell"
    [title]="'Prime accordé'"
    [icon]=""
    [valeur]="stats?.primeCount">
  </app-chart-small-card>
  <app-chart-small-card
    class=" cell"
    [title]="'Competences'"
    [icon]=""
    [valeur]="stats?.competneceCount">
  </app-chart-small-card>
  <app-chart-small-card
    class=" cell"
    [title]="'Salaire'"
    [icon]=""
    [valeur]="stats?.salaire + 'DH.'">
  </app-chart-small-card>
  <app-chart-small-card
    class=" cell"
    [title]="'Expériences'"
    [icon]=""
    [valeur]="stats?.experienceCount">
  </app-chart-small-card>
  <app-chart-small-card
    class=" cell"
    [title]="'Total des congé'"
    [icon]=""
    [valeur]="stats?.totalConge">
  </app-chart-small-card>
  <app-chart-small-card
    class=" cell"
    [title]="'Total des absences'"
    [icon]=""
    [valeur]="stats?.totalAbsence">
  </app-chart-small-card>
</div>

<nz-divider [nzText]="'Statistiques'"></nz-divider>

<div class="grid-x grid-margin-y grid-margin-x medium-up-2" *ngIf="isData">
  <app-chart-donut
    class="cell"
    [type]="'pie'"
    [title]="'Congé'"
    [data]="stats.congeData"
    [labels]="stats.congeLabel"
  ></app-chart-donut>
  <app-chart-donut
    class="cell"
    [type]="'pie'"
    [title]="'Absence'"
    [data]="stats.absenceData"
    [labels]="stats.absenceLabel"
  ></app-chart-donut>
</div>
