@import 'index'
@import '~@swimlane/ngx-datatable/release/themes/material.css'
@import '~@swimlane/ngx-datatable/release/assets/icons.css'
@import "colors"

.ngx-datatable.material
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08)
//box-shadow: none

.ngx-datatable .datatable-header .datatable-header-cell .resize-handle
  visibility: visible !important

.datatable-body-cell
  border-right: 1px solid #eee
  border-bottom: 1px solid #eee
  display: flex !important
  flex-direction: column
  justify-content: center

.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell
  text-align: center !important

.ngx-datatable
  cursor: pointer
  word-wrap: break-word
  position: absolute
  top: 50%
  transform: translateY(-50%)

.datatable-header
  background-color: $accent-grey

.datatable-header-cell-label
  color: black
  font-size: 14px

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group
  background-color: #f7f7f7
  transition-property: background
  transition-duration: .3s
  transition-timing-function: linear

datatable-body-cell:nth-child(n+2)
  padding: .3rem .3rem !important

.datatable-checkbox input[type='checkbox']:before
  border: 2px solid #e6e6e6

.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group
  background-color: #e2e2e2

.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group
  background-color: #e2e2e2
