<button
  *ngFor="let button of getButtons()"
  mat-raised-button
  style="margin: 8px"
  (click)="onButtonClicked(button.id)">
  <mat-icon style="padding-right: 6px">{{button.iconName}}</mat-icon>
  <span>{{button.title}}</span>
</button>
