<app-form-card [progress]="progress" *ngIf="edit || add">
  <form (ngSubmit)="onFormSubmit()">
    <div class="grid-x grid-margin-x grid-margin-y mt-bottom medium-up-2">
      <div class="cell" *ngFor="let form of forms">
        <app-upload-file
          [title]="form"
          [reset]="reset"
          (uploadFileEvent)="onFileContent($event)"
        ></app-upload-file>
      </div>
    </div>

    <div footer>
      <div class="cell auto end">
        <button mat-raised-button color="primary" type="submit" [disabled]="uploadedFiles.length === 0">
          {{edit? 'Modifier':'Ajouter'}}
        </button>
        <button mat-raised-button color="primary" type="reset" (click)="onResetClicked()">Reset</button>
      </div>
    </div>
  </form>
</app-form-card>
