.secondary-title
  font-family: "Roboto Light", 'Roboto', sans-serif
  font-size: 14px
  margin-left: 10px

mat-card-header
  height: 50px

.header
  padding: .4rem .8rem .4rem .8rem

.title
  position: relative
  top: 5px
