<mat-card class="border rounded" [class.fix-no-scroll-card]="moreMargin">
  <div class="grid-x header align-center-middle">
    <div class="cell medium-4">
      <h3 class="title">{{title}}<span class="secondary-title">{{work}}</span></h3>
    </div>
    <app-form-action
      class="cell medium-8 end"
      [buttonRowType]="buttonType"
      (addEvent)="onAdd()"
      (deleteEvent)="onDelete()"
      (acceptEvent)="onAccept()"
      (cancelEvent)="onCancel()"
      (refuseEvent)="onRefuse()"
      (justifEvent)="onJustif()"
      (checkingEvent)="onCheck()"
      (updateEvent)="onEdit()"
      (modeEvent)="onMode()"
      (reportEvent)="onReport()">
    </app-form-action>
    <ng-content select="[left-menu]"></ng-content>
  </div>

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

</mat-card>
