<app-card [title]="title" [buttonType]="noRowButton">
  <div>
    <canvas baseChart
            [data]="data"
            [labels]="labels"
            [chartType]="type">
    </canvas>
  </div>
</app-card>
