<app-card [title]="user?.prenom + ' '+ user?.nom"
          [work]="user?.poste"
          [buttonType]="rowButtonType"
          (deleteEvent)="onDelete()"
          (reportEvent)="onReport()"
          (updateEvent)="onEdit()">
  <app-emp-form-2 *ngIf="editMode" [employe]="user"></app-emp-form-2>
  <div *ngIf="!editMode" class="grid-x grid-margin-x card-padding align-middle">
    <div class="cell large-4">
      <div class="grid-y grid-margin-y align-middle center">
        <div class="cell">
          <img class="circle-image" [src]="user?.lien | secure">
        </div>
        <div class="cell">
          <nz-rate [ngModel]="user?.note" nzAllowHalf nzDisabled></nz-rate>
        </div>
      </div>
    </div>
    <div class="cell large-8">
      <mat-accordion [multi]="false" [displayMode]="'flat'">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Donnée personnel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="cell">
            <tr>
              <th>Sexe</th>
              <td>{{user?.sexe}}</td>
            </tr>
            <tr>
              <th>Status de famille</th>
              <td>{{user?.statusFamille.status}}</td>
            </tr>
            <tr>
              <th>Nombre des enfants</th>
              <td>{{user?.nombreEnfant}}</td>
            </tr>
            <tr>
              <th>Nom conjoint</th>
              <td>{{user?.nomConjoint}}</td>
            </tr>
            <tr>
              <th>Prénom conjoint</th>
              <td>{{user?.prenomConjoint}}</td>
            </tr>
            <tr>
              <th>Date naissance</th>
              <td>{{user?.dateNaissance}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contact
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="cell">
            <tr>
              <th>Email</th>
              <td>
                <a mat-icon-button [href]="'mailto:'+ user?.email">
                  <mat-icon>mail</mat-icon>
                </a>
                <button (click)="copyLink(user?.email)" mat-icon-button>
                  <mat-icon>file_copy</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <th>Téléphone</th>
              <td>{{user?.tel}}</td>
            </tr>
            <tr>
              <th>Code postal</th>
              <td>{{user?.codePostal}}</td>
            </tr>
            <tr>
              <th>Adresse</th>
              <td>{{user?.adresse}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Donnée professionnel
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="cell">
            <tr>
              <th>Anciennité</th>
              <td>{{user?.anciennite}}</td>
            </tr>
            <tr>
              <th>Grade</th>
              <td>{{user?.grade}}</td>
            </tr>
            <tr>
              <th>Poste</th>
              <td>{{user?.poste}}</td>
            </tr>
            <tr>
              <th>Echelle</th>
              <td>{{user?.echelle}}</td>
            </tr>
            <tr>
              <th>Echellon</th>
              <td>{{user?.echellon}}</td>
            </tr>
            <tr>
              <th>Service</th>
              <td>{{user?.service}}</td>
            </tr>
            <tr>
              <th>Salaire</th>
              <td>{{user?.salaireBase}}</td>
            </tr>
            <tr>
              <th>Date de recrutement</th>
              <td>{{user?.dateRecrutement}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Plus de donnée
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="cell">
            <tr>
              <th>Admin</th>
              <td>
                <mat-checkbox [ngModel]="user?.admin" disabled="true"></mat-checkbox>
              </td>
            </tr>
            <tr>
              <th>Cin</th>
              <td>{{user?.cin}}</td>
            </tr>
            <tr>
              <th>N° Banque</th>
              <td>{{user?.nbancaire}}</td>
            </tr>
            <tr>
              <th>N° Mutuel</th>
              <td>{{user?.nmutuel}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</app-card>

