<nz-upload
  class="cell"
  nzType="drag"
  [nzMultiple]="false"
  [nzLimit]="1"
  (nzFileListChange)="onFileListChange($event)"
  [nzBeforeUpload]="beforeUpload"
  [(nzFileList)]="files">
  <p class="ant-upload-text valign-center center">
    <mat-icon class="icon-margin-right">cloud_upload</mat-icon>
    <span>{{title}}</span>
  </p>
</nz-upload>
