<ng-progress [ease]="'linear'"
             [color]="'#e64a19'"
             [spinner]="false"
></ng-progress>

<nz-layout *ngIf="userService.isAuthenticated() ;else loginPage">
  <app-navbar [isChildViewActivated]="checkProfileRoute()" (onCollapseActivated)="isCollapsed = $event"></app-navbar>
  <nz-layout style="background-color: #f8f8f8">
    <nz-sider [class.hide-for-small-only]="isCollapsed"
              [class.hide-for-medium]="isCollapsed"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="triggerTemplate"
              class="slider-full-width">
      <app-side-navbar [isCollapsed]="isCollapsed"></app-side-navbar>
    </nz-sider>
    <div class="fullheight">
      <div class="content-margin">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-layout>
</nz-layout>


<ng-template #loginPage>
  <div class="grid-container">
    <router-outlet></router-outlet>
  </div>
</ng-template>


