<app-form-card [paddForm]="false">
  <form (ngSubmit)="onFormSubmit()" [formGroup]="formGroup">
    <mat-horizontal-stepper formArrayName="formArray" #stepper="matHorizontalStepper">

      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>Donnée personnel</ng-template>

        <mat-form-field style="display:none">
          <app-input-file (change)="readUrl($event)" formControlName="image" placeholder="Image"></app-input-file>
          <mat-icon matSuffix class="image-input" id="image">image</mat-icon>
        </mat-form-field>

        <div class="grid-x grid-margin-x grid-margin-y  center align-center align-middle">

          <div class="cell large-4 grid-y center align-center align-middle">

            <div (click)="onUpload()"
                 *ngIf="router.url.includes('create')"
                 [class.image-uploaded]="previewImage"
                 class="upload-image grid-y center align-center align-middle">
              <img *ngIf="previewImage" [src]="previewImage" class="circle-image"/>
              <button *ngIf="!previewImage" type="button" mat-icon-button color="primary">
                <mat-icon class="upload-icon">cloud_upload</mat-icon>
              </button>
            </div>


            <img
              (click)="onUpload()"
              matTooltip="Cliquer pour changer la photo"
              *ngIf="router.url.includes('edit') || employe"
              [src]="localedit? previewImage : (previewImage | secure)"
              class="circle-image"/>

          </div>

          <div class="cell large-8">
            <div class="grid-x grid-margin-x large-up-2">
              <nz-select
                class="cell mt-b"
                nzShowSearch
                nzAllowClear
                [nzSize]="'large'"
                nzPlaceHolder="Status de famille :"
                required
                (ngModelChange)="onStatusFamilleChange($event)"
                [formControlName]="'statusFamille'">
                <nz-option *ngFor="let status of employeData?.statusFamilles"
                           [nzLabel]="status?.status"
                           [nzValue]="status.statusId"></nz-option>
              </nz-select>

              <nz-select
                class="cell  mt-b"
                nzShowSearch
                nzAllowClear
                [nzSize]="'large'"
                nzPlaceHolder="Sexe :"
                required
                [formControlName]="'sexe'">
                <nz-option *ngFor="let sexe of employeData?.sexe" [nzLabel]="sexe" [nzValue]="sexe"></nz-option>
              </nz-select>

              <mat-form-field class="cell">
                <mat-label>Prenom</mat-label>
                <input matInput formControlName="prenom"
                       placeholder="Prénom" required>
              </mat-form-field>

              <mat-form-field class="cell">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="nom"
                       placeholder="Nom" required>
              </mat-form-field>


              <mat-form-field class="cell">
                <mat-label>Nombre des enfants</mat-label>
                <input (keypress)="formService.onInput($event)" matInput formControlName="nombreenfant" #nbrchild
                       placeholder="Nombre des enfants" [required]="isFieldRequired">
                <mat-error *ngIf="nbrchild.value<0">
                  Nombre des enfants doit être positive.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="cell">
                <mat-label>Nom conjoint</mat-label>
                <input matInput
                       formControlName="nomconjoint"
                       placeholder="Nom conjoint"
                       [required]="isFieldRequired">
              </mat-form-field>

              <mat-form-field class="cell">
                <mat-label>Prénom conjoint</mat-label>
                <input matInput
                       formControlName="prenomconjoint"
                       placeholder="Prénom conjoint"
                       [required]="isFieldRequired">
              </mat-form-field>

              <mat-form-field class="cell">
                <input matInput [matDatepicker]="picker" placeholder="Date de naissance" formControlName="dateNaissance"
                       required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

        </div>


        <div class="float-right">
          <button mat-raised-button matStepperNext type="button" color="primary">Suivant</button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Donnée de contact</ng-template>
        <div class="grid-x small-up-2 large-up-3 grid-margin-x">

          <mat-form-field class="cell">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email"
                   placeholder="Email" required>
            <mat-error *ngIf="formService.isEmailValid(contactGroup)">
              Veuillez entrer un email valide
            </mat-error>
          </mat-form-field>

          <mat-form-field class="cell">
            <mat-label>Téléphone</mat-label>
            <input matInput (keypress)="formService.onInput($event)" formControlName="tel" maxlength="10" #tel
                   placeholder="Téléphone" required>
            <mat-hint align="end">{{tel.value.length}} / 10</mat-hint>
          </mat-form-field>

          <mat-form-field class="cell">
            <mat-label>Code postal</mat-label>
            <input (keypress)="formService.onInput($event)" maxlength="5" matInput formControlName="codepostal"
                   #codePostal
                   placeholder="Code postal" required>
            <mat-hint align="end">{{codePostal.value.length}} / 5</mat-hint>
          </mat-form-field>

          <mat-form-field class="cell auto">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresse"
                   placeholder="Adresse" required>
          </mat-form-field>
        </div>
        <div class="float-right">
          <button mat-raised-button matStepperPrevious type="button" color="primary">précédent</button>
          <button mat-raised-button matStepperNext type="button" color="primary">suivant</button>
        </div>
      </mat-step>

      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
        <ng-template matStepLabel>Donnée professionnel</ng-template>

        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
          <nz-select
            class="cell"
            nzShowSearch
            nzAllowClear
            [nzSize]="'large'"
            nzPlaceHolder="Service :"
            required
            [formControlName]="'service'">
            <nz-option *ngFor="let s of employeData?.services" [nzLabel]="s?.service"
                       [nzValue]="s.serviceId"></nz-option>
          </nz-select>

          <nz-select
            class="cell mt-b"
            nzShowSearch
            nzAllowClear
            [nzSize]="'large'"
            nzPlaceHolder="Grade :"
            required
            [formControlName]="'grade'">
            <nz-option *ngFor="let s of employeData?.grades" [nzLabel]="s?.grade"
                       [nzValue]="s.gradeId"></nz-option>
          </nz-select>

          <nz-select
            class="cell mt-b"
            nzShowSearch
            nzAllowClear
            [nzSize]="'large'"
            nzPlaceHolder="Poste :"
            required
            [formControlName]="'poste'">
            <nz-option *ngFor="let s of employeData?.postes" [nzLabel]="s?.poste"
                       [nzValue]="s.posteId"></nz-option>
          </nz-select>
        </div>
        <div class="grid-x small-up-2 grid-margin-x ">
          <mat-form-field class="cell">
            <mat-label>Salaire</mat-label>
            <input type="number" matInput formControlName="salaire"
                   placeholder="salaire" required>
          </mat-form-field>

          <mat-form-field class="cell">
            <input matInput [matDatepicker]="picker2" placeholder="Date de recrutement"
                   formControlName="dateRecrutement"
                   required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
          </mat-form-field>

          <div class="cell">
            <span>Echelle : {{echelleValue}}</span>
            <mat-slider
              #echelle
              (input)="onEchelleChange($event)"
              class="cell"
              max="12"
              min="1"
              step="1"
              thumb-label="true"
              formControlName="echelle">
            </mat-slider>
          </div>

          <div class="cell">
            <span>Echellon : {{echellonValue}}</span>
            <mat-slider
              #echellon
              (input)="onEchellonChange($event)"
              class="cell"
              max="13"
              min="1"
              step="1"
              thumb-label="true"
              formcontrolname="echellon">
            </mat-slider>
          </div>
        </div>

        <div class="float-right">
          <button mat-raised-button matStepperPrevious type="button" color="primary">précédent</button>
          <button mat-raised-button matStepperNext type="button" color="primary">suivant</button>
        </div>
      </mat-step>

      <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
        <ng-template matStepLabel>Plus d'information</ng-template>

        <div class="grid-x grid-margin-x grid-margin-y small-up-2">
          <div class="cell grid-y align-self-middle">
            <mat-checkbox class="float-center" formControlName="admin">Administrateur</mat-checkbox>
          </div>

          <mat-form-field class="cell">
            <mat-label>CIN</mat-label>
            <input matInput formControlName="cin" maxlength="8" #cin
                   placeholder="CIN" required>
            <mat-hint align="end">{{cin.value.length}} / 8</mat-hint>
          </mat-form-field>

          <mat-form-field class="cell">
            <mat-label>N° Bancaire</mat-label>
            <input matInput formControlName="nbank" maxlength="24" #bank
                   placeholder="N° Bancaire" required>
            <mat-hint align="end">{{bank.value.length}} / 24</mat-hint>
          </mat-form-field>

          <mat-form-field class="cell">
            <mat-label>N° mutuel</mat-label>
            <input matInput formControlName="nmutuel" maxlength="9" #mutuel
                   placeholder="N° mutuel" required>
            <mat-hint align="end">{{mutuel.value.length}} / 9</mat-hint>
          </mat-form-field>

        </div>

        <div class="float-right">
          <button mat-raised-button matStepperPrevious type="button" (click)="onClick()" color="primary">précédent
          </button>
          <button *ngIf="router.url.includes('create')"
                  mat-raised-button
                  type="submit"
                  color="primary"
                  [disabled]="!formGroup.valid">
            Ajouter
          </button>
          <button *ngIf="router.url.includes('edit') || employe"
                  mat-raised-button
                  type="submit"
                  color="primary">
            Modifier
          </button>
          <button mat-raised-button color="primary" *ngIf="router.url.includes('create')" (click)="resetForm()">Reset
          </button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </form>
</app-form-card>
