.upload-image
  width: 200px
  height: 200px
  cursor: pointer
  background-size: 100%
  background: #f9f9f9 space
  border-radius: 50%
  border: 1px dashed #0a0a0a

.image-uploaded
  background: none
  border: none

.upload-icon
  cursor: pointer

nz-select
  margin-bottom: 10px !important

