<nz-divider [nzText]="'Employée absents ( '+absenceList.length+' )'"></nz-divider>
<div class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-4 large-up-6 align-middle-center center">
  <app-emp-card *ngFor="let employe of absenceList"
                class="cell center"
                (cardEvent)="onCardRemoved(employe)"
                [fullName]="employe.prenom + ' '+employe.nom"
                [image]="employe.image"></app-emp-card>
  <span class="float-center" *ngIf="absenceList.length === 0">Ici, les employées qui sont marqué absents.</span>
</div>
<nz-divider [nzText]="'Employée presents ( '+employeList.length+' )'"></nz-divider>
<div class="grid-x grid-margin-y">
  <app-search class="cell" (searchEvent)="onSearchEvent($event)"></app-search>
</div>

<div class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-4 large-up-6 align-middle-center">
  <app-emp-card *ngFor="let employe of employeList"
                class="cell center"
                (cardEvent)="onCardClicked(employe)"
                [fullName]="employe.prenom + ' '+employe.nom"
                [image]="employe.image"></app-emp-card>
  <span class="float-center" *ngIf="employeList.length === 0">Vide</span>
</div>

<button mat-fab class="fab"
        matTooltip="Enregister les absences"
        [matTooltipPosition]="'left'"
        (click)="onAbsenceNoted()">
  <mat-icon>edit</mat-icon>
</button>
