<app-card
  [title]="'Historique'"
  [buttonType]="rowButtonType">

  <app-search (searchEvent)="onSearch($event)"></app-search>

  <app-datatable-pageable
    #dataTable
    [query]="query"
    [isEmailPresent]="false"
    [columns]="columns"
    [tableType]="tableType"
  ></app-datatable-pageable>

</app-card>
