<app-card
  [title]="'Mes demandes'"
  (addEvent)="onAdd()"
  (cancelEvent)="onCancel()"
  [buttonType]="rowButtonType">
  <app-conge-request *ngIf="showForm.add" (congeChanged)="onContactChange()"></app-conge-request>
  <app-search (searchEvent)="onSearch($event)"></app-search>
  <app-datatable-pageable
    #datatable
    [query]="query"
    [columns]="columns"
    [isConge]="true"
    [isDownload]="true"
    (selectEvent)="onSelect($event)"
    [footerText]="'demande(s) de congé'"
    [tableType]="tableType">
  </app-datatable-pageable>
</app-card>
