<div class="grid-y grid-margin-y">
  <app-profile-info id="info" class="cell"></app-profile-info>
  <app-profile-document id="document" class="cell"></app-profile-document>
  <app-profile-prime id="prime" class="cell"></app-profile-prime>
  <app-profile-contact id="contact" class="cell"></app-profile-contact>
  <app-profile-competence id="competence" class="cell"></app-profile-competence>
  <app-profile-exp id="exp" class="cell"></app-profile-exp>
  <app-profile-lang id="lang" class="cell"></app-profile-lang>
  <app-profile-historique id="historique" class="cell"></app-profile-historique>
</div>

