<ul class="fullheight" nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu [nzOpen]="true" *ngIf="router.url.includes('profile')">
        <span title class="valign-center">
      <mat-icon class="anticon">{{sidebarService.profileNavs.icon}}</mat-icon>
      <span>{{sidebarService.profileNavs.title}}</span>
        </span>
    <ul *ngFor="let profileNav of sidebarService.profileNavs.subtitle">
      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a class="no-link valign-center" [ngx-scroll-to]="profileNav.link">
          <mat-icon>{{profileNav.icon}}</mat-icon>
          {{profileNav.title}}</a>
      </li>
    </ul>
  </li>

  <div *ngFor="let nav of sidebarService.getCurrentUserNav();let i = index">

    <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLink]="nav.link"
        *ngIf="nav.mono">
          <span title>
                 <mat-icon class="anticon">{{nav.icon}}</mat-icon>
            <span>{{nav.title}}</span>
          </span>
    </li>

    <li nz-submenu [nzOpen]="!router.url.includes('profile')" (nzOpenChange)="onSubMenuChange(i)"
        *ngIf="!nav.mono">
        <span title class="valign-center">
      <mat-icon class="anticon">{{nav.icon}}</mat-icon>
      <span>{{nav.title}}</span>
        </span>

      <ul *ngFor="let subnav of nav.subtitle">
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <a class="no-link valign-center" [routerLink]="subnav.link" href="#">
            <mat-icon>{{subnav.icon}}</mat-icon>
            {{subnav.title}}</a>
        </li>
      </ul>

    </li>

  </div>
</ul>
