<div class="grid-y center-vertical-horizontal">
  <div class="cell center">
    <div class="error-text"><strong>{{errorNumber}}</strong> {{textError}}</div>
  </div>
  <div class="cell center">
    <button mat-raised-button>
      <a routerLink="/">Retourner vers page principale</a>
    </button>
  </div>
</div>
