<app-form-card *ngIf="edit || add">
  <form (ngSubmit)="onFormSubmit()" [formGroup]="languageForm">
    <div class="grid-x grid-margin-x mt-bottom align-center align-middle small-up-1 medium-up-3">
      <div class="cell center auto">
        <nz-select
          nzShowSearch
          nzAllowClear
          [nzSize]="'large'"
          nzPlaceHolder="Selectionner prime :"
          required
          [formControlName]="'language'">
          <nz-option *ngFor="let lang of languages" [nzLabel]="lang.language" [nzValue]="lang"></nz-option>
        </nz-select>
      </div>
      <div class="cell center auto">
        <nz-select
          nzShowSearch
          nzAllowClear
          [nzSize]="'large'"
          nzPlaceHolder="Selectionner niveau écrit :"
          required
          [formControlName]="'niveauEcrit'">
          <nz-option *ngFor="let level of levels" [nzLabel]="level.description" [nzValue]="level"></nz-option>
        </nz-select>
      </div>
      <div class="cell center auto">
        <nz-select
          nzShowSearch
          nzAllowClear
          [nzSize]="'large'"
          nzPlaceHolder="Selectionner niveau orale :"
          required
          [formControlName]="'niveauOrale'">
          <nz-option *ngFor="let level of levels" [nzLabel]="level.description" [nzValue]="level"></nz-option>
        </nz-select>
      </div>
    </div>
    <div footer class="end cell">
      <button mat-raised-button color="primary" type="submit" [disabled]="!languageForm.valid">
        {{edit? 'Modifier':'Ajouter'}}
      </button>
      <button mat-raised-button color="primary" *ngIf="!edit" (click)="languageForm.reset()">Reset</button>
    </div>

  </form>
</app-form-card>
