<app-card
  (updateEvent)="onEdit()"
  (addEvent)="onAdd()"
  [title]="'Compétences'"
  [buttonType]="rowButtonType">

  <app-profile-competence-form
    [add]="showForm.add"
    [delete]="showForm.delete"
    (competenceChanged)="onChange()"
  ></app-profile-competence-form>

  <div class="content-padding">
    <mat-chip-list>
      <div class="grid-x grid-margin-x grid-margin-y small-up-4 medium-up-6 center" style="width: 75rem">
        <div class="cell" *ngFor="let competence of competences">
          <mat-chip (removed)="onDelete(competence)" [removable]="showForm.delete">
            {{competence.competence}}
            <mat-icon *ngIf="showForm.delete" matChipRemove>cancel</mat-icon>
          </mat-chip>
        </div>
      </div>
    </mat-chip-list>
  </div>

</app-card>

