<app-form-card *ngIf="add">
  <form (ngSubmit)="onFormSubmit()">

    <div class="grid-x grid-margin-x mt-bottom align-center align-middle">
      <div class="cell center">
        <nz-select
          #select
          name="competences"
          style="width: 100%;"
          nzShowSearch
          nzMode="multiple"
          nzAllowClear
          [nzSize]="'large'"
          nzPlaceHolder="Selectionner competences:"
          nzNotFoundContent="Pas de compétence trouvé."
          [(ngModel)]="selectedCompetences"
          required>
          <nz-option *ngFor="let competence of competences"
                     [nzLabel]="competence.competence"
                     [nzValue]="competence"></nz-option>
        </nz-select>
      </div>
    </div>
    <div footer class="end cell">
      <button mat-raised-button color="primary" type="submit" [disabled]="selectedCompetences.length === 0">Ajouter
      </button>
    </div>

  </form>
</app-form-card>
