<app-form-card>
  <form (ngSubmit)="onFormSubmit()" [formGroup]="absenceForm">
    <div class="grid-x grid-margin-x grid-margin-y align-center align-middle">
      <div class="cell">
        <app-upload-file
          [title]="'Attestation médicale*'"
          [reset]="reset"
          (uploadFileEvent)="onFileContent($event)"
        ></app-upload-file>
      </div>
      <div class="cell">
        <mat-form-field class="cell">
          <mat-label>Raison</mat-label>
          <input matInput formControlName="raison"
                 placeholder="Raison" required>
        </mat-form-field>
      </div>
    </div>
    <div footer class="cell end">
      <button mat-raised-button color="primary" type="submit"
              [disabled]="uploadedFiles.length === 0 || !absenceForm.valid">
        Justifier
      </button>
      <button mat-raised-button color="primary" (click)="onResetClicked()">Reset</button>
    </div>
  </form>
</app-form-card>
