<app-card class="center-vertical-horizontal" [buttonType]="buttonType">
  <h3 class="center">Changer mot de passe</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
    <div class="grid-x grid-margin-y">

      <mat-form-field class="cell">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password"
               placeholder="mot de passe" required>
      </mat-form-field>

      <mat-form-field class="cell">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput formControlName="cPassword" type="password"
               placeholder="Confirmer le mot de passe" required>
      </mat-form-field>

      <div *ngIf="!isPasswordMatching()" class="float-center" style="color:#ff1013">
        Votre mot de passe de confirmation est incorrect
      </div>

      <button class="cell"
              mat-raised-button color="primary"
              type="submit"
              [disabled]="!changePasswordForm.valid || !isPasswordMatching()">
        Changer le mot de passe
      </button>

    </div>
  </form>
</app-card>
