@import '../../../../assets/css/colors'
.navtitle
  color: black
  padding: 10px
  vertical-align: middle

.circular
  border-radius: 50%

img
  margin-right: 10px

.first-row
  background-color: #01579b

.full-ripple
  line-height: 65px

nz-header
  padding: 0
  background-color: $primary-color
  border-bottom: 1px solid #dddd

.active:hover
  background-color: $primary-dark-color
  border-radius: 500px

.adjust-height
  margin-top: 12px

.cell
  margin-left: 1.2rem
  margin-right: 1.2rem

.navitem-profile
  padding: 5px
  position: relative
  bottom: 2px

a:hover
  color: rgba(0, 0, 0, 0.54)
