<mat-menu #options="matMenu">

  <a href="#" [routerLink]="profilePath" class="no-link">
    <a mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
  </a>
  <a href="#" routerLink="/change/password" class="no-link">
    <a mat-menu-item>
      <mat-icon>vpn_key</mat-icon>
      <span>Changer mot de passe</span>
    </a>
  </a>
  <a href="#" routerLink="/logout" class="no-link">
    <a mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Déconnexion</span>
    </a>
  </a>
</mat-menu>

<mat-menu #notif="matMenu">
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>

<nz-header>
  <div class="grid-x">
    <div class="cell auto start">
      <!--Show previous button to return to list of employe-->
      <button class="active" (click)="onPreviousClicked()"
              *ngIf="isChildViewActivated" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>

      <!--Button to show side menu-->
      <button class="active" mat-icon-button
              *ngIf="!isChildViewActivated"
              (click)="onMenuButtonClicked()">
        <mat-icon>menu</mat-icon>
      </button>

      <a class="navtitle active no-link" href="#" routerLink="/">GRH</a>
    </div>

    <div class="cell auto end align-right">
      <button [matMenuTriggerFor]="options" mat-button class="navitem-profile hide-for-small-only">
        <img [src]="currentUser?.lien | secure" width="40" height="40" class="circular">
        <span class="no-link">{{currentUser?.prenom}} {{currentUser?.nom}}</span>
      </button>
    </div>
  </div>
</nz-header>


