<app-card
  [title]="'Primes'"
  (addEvent)="onAdd()"
  (deleteEvent)="onDelete()"
  (updateEvent)="onEdit()"
  [buttonType]="rowButtonType">

  <app-profile-prime-form
    [add]="showForm.add"
    [edit]="showForm.edit"
    [delete]="showForm.delete"
    (primeChanged)="onChange()"
    [primeData]="prime"
  ></app-profile-prime-form>

  <app-search (searchEvent)="onSearch($event)"></app-search>

  <app-datatable-pageable
    #datatable
    [query]="query"
    [columns]="columns"
    [footerText]="'primes'"
    [tableType]="tableType"
    (selectEvent)="onSelect($event)"
  ></app-datatable-pageable>

</app-card>
