<div [class.form-card]="paddForm">
  <mat-progress-bar
    style="border-radius: 5px"
    [mode]="'determinate'"
    *ngIf="progressChange!==0"
    [value]="progressChange"
  ></mat-progress-bar>
  <mat-card class="mat-elevation-z2">
    <div class="form-card">
      <ng-content></ng-content>
      <div class="grid-x grid-margin-x cell end form-card">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </mat-card>
</div>
