<app-form-card>
  <form (ngSubmit)="onFormSubmit()" [formGroup]="congeForm">
    <div class="grid-x grid-margin-x grid-margin-y align-center align-middle">
      <div class="cell large-4 center">
        <nz-range-picker [nzPlaceHolder]="['date début ','date fin']"
                         (ngModelChange)="onDateRangeChange($event)"
                         [formControlName]="'dateRange'">
        </nz-range-picker>
      </div>
      <div class="cell medium-6 large-4">
        <nz-select
          matTooltip="Type de congé"
          class="cell"
          nzShowSearch
          nzAllowClear
          [nzSize]="'large'"
          nzPlaceHolder="Selectionner type de congé :"
          required
          [formControlName]="'typeConge'">
          <nz-option *ngFor="let typeConge of typeConges" [nzLabel]="typeConge.typeConge"
                     [nzValue]="typeConge"></nz-option>
        </nz-select>
      </div>
      <div class="cell medium-6 large-4">
        <mat-form-field class="cell">
          <mat-label>Raison</mat-label>
          <input matInput formControlName="raison"
                 placeholder="Raison" required>
        </mat-form-field>
      </div>
      <div class="cell justify">
        <p>{{congeForm.get('typeConge').value?.condition}}</p>
      </div>
    </div>
    <div footer class="cell end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!congeForm.valid">Demander</button>
      <button mat-raised-button color="primary" (click)="onResetClicked()">Reset</button>
    </div>
  </form>
</app-form-card>
