@import '~@angular/material/theming'
@import '~@covalent/core/theming/_all-theme.scss'
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core()

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-light-blue)
$candy-app-accent: mat-palette($mat-deep-orange)

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red)

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn)

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($candy-app-theme)
@include covalent-theme($candy-app-theme)

.mat-stepper-horizontal-line
  border-top-width: 1.25px !important

.mat-card
  padding: 0 !important
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important

.mat-tooltip
  font-size: 14px
  padding: 8px !important
  text-align: center !important
  border-radius: 500px !important


