@import 'assets/css/datatable'
//no margin srsly
body, html
  top: 0
  margin: 0
  font-family: 'Roboto', sans-serif !important
  font-size: 16px !important
  background-color: #eee

//icons are in top of text instead of center
mat-icon
  display: inline-flex
  align-items: center

@supports ((position: -webkit-sticky) or (position: sticky))
  .sticky-top-m
    position: -webkit-sticky
    position: sticky
    top: 80px
    z-index: 500

.no-link
  text-decoration: none !important
  color: black

.no-link:hover
  color: black

.selected-list:hover
  background-color: #eee
  transition-duration: 2ms
  cursor: pointer

.border
  border: 1px rgba(0, 0, 0, 0.1) solid

.rounded
  border-radius: 10px !important

.round-datatable
  border-bottom-left-radius: 8px !important
  border-bottom-right-radius: 8px !important

.child
  position: absolute
  top: 50%
  transform: translateY(-50%)

.center
  text-align: center

.justify
  text-align: justify

.end
  text-align: end

/* Small only */
@media screen and (max-width: 39.9375em)
  .content
    padding-top: 80px

  .slider-full-width
    min-width: 100% !important

/* Medium and up */
@media screen and (min-width: 40em)
  .content
    padding-top: 70px

/* Medium only */
//@media screen and (min-width: 40em) and (max-width: 63.9375em)

/* Large and up */
//@media screen and (min-width: 64em)

///* Large only */
//@media screen and (min-width: 64em) and (max-width: 74.9375em){}

.mat-tab-body-content
  overflow: inherit !important

.stick-header
  position: sticky
  z-index: 2000
  top: 0
  overflow-y: auto

body
  overflow: hidden

.scroll
  overflow-y: scroll
  height: 100vh

::-webkit-scrollbar
  width: 0
/* remove scrollbar space */

.margin-top
  margin-top: 10px

.anticon
  font-size: 24px
  font-style: normal

.ant-menu-inline-collapsed > .ant-menu-item .anticon, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon
  font-size: 24px !important

.nav-text
  font-size: 14px

.upload-margin
  margin-top: 30px !important

.valign-center
  display: inline-flex
  vertical-align: middle
  align-items: center

.icon-margin-right
  margin-right: 10px

.anticon-menu-fold:before
  content: '' !important

.card-padding
  padding: 0 20px 20px 20px

.form-card
  padding-top: 20px
  margin: 0 10px 10px 10px
  border-radius: 5px !important

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing
  opacity: 0

.mt-bottom
  margin-bottom: 10px

.content-padding
  padding: 10px

.circle-image
  cursor: pointer
  width: 200px
  height: 200px
  border-radius: 50%
  border: 1px dashed #0a0a0a

.round-image-no-border
  width: 80px
  height: 80px
  border-radius: 50%

.fix-no-scroll-card
  margin-bottom: 100px

.rounded-button
  border-radius: 100%

.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon
  line-height: 20px
  margin: -3px

button, nz-select
  border-radius: 100px !important

.label-select
  font-size: 16px
  text-align: start !important

ngc-float-button
  transform: scale(1.25, 1.25) translate3d(0, 0, 0)
  position: fixed
  bottom: 32px
  right: 32px
  z-index: 2000

.ant-message-notice-content
  border-radius: 100px

.center-vertical-horizontal
  position: absolute
  left: 50%
  top: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.chart-responsive
  min-width: 60%

.min-height
  min-height: 500px

.max-height
  min-height: 800px

.fix-card-scroll
  margin-bottom: 100px

