<div class="grid-x grid-margin-y">
  <app-search class="cell" (searchEvent)="onSearchEvent($event)"></app-search>
</div>

<div
  class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-4
   large-up-6 align-middle-center center"
  *ngFor="let employe of presenceList">

  <nz-divider [nzText]="employe.poste"></nz-divider>

  <app-emp-card class="cell center"
                (cardEvent)="onCardClicked(employe)"
                [fullName]="employe.fullName"
                [image]="employe.lien"></app-emp-card>

</div>

<button mat-fab class="fab"
        matTooltip="Confirmer la présence"
        [matTooltipPosition]="'left'"
        (click)="onAbsenceNoted()">
  <mat-icon>edit</mat-icon>
</button>
