<app-card class="center-vertical-horizontal" [buttonType]="buttonType">
  <h3 class="center">Mot de passe oublié</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="forgotForm">
    <div class="grid-x grid-margin-y">
      <mat-form-field class="cell">
        <mat-label>CIN</mat-label>
        <input matInput formControlName="cin"
               placeholder="CIN" required>
      </mat-form-field>
      <button class="cell"
              mat-raised-button color="primary"
              type="submit"
              [disabled]="!forgotForm.valid">
        Chercher
      </button>
    </div>
  </form>
</app-card>
