<form>
  <div class="grid-x side-margins">
    <div class="cell">
      <input type="search" id="search" class="light-shadow" (keyup)="onSearch($event)"
             (keyup.backspace)="onBackspace($event)"
             placeholder="Rechercher" autocomplete="off">
    </div>
  </div>
</form>
