.card
  background-color: white
  border-radius: 12px
  padding: 12px
  border: 1px rgba(0, 0, 0, 0.1) solid
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important

.valeur
  font-size: 16px
  font-weight: bold
