<router-outlet></router-outlet>
<app-card [buttonType]="buttonType" [moreMargin]="true" [title]="'Employées'"
          class="fix-no-scroll-card"
          (addEvent)="onAdd()"
          (deleteEvent)="onDelete()"
          (updateEvent)="onEdit()"
          (modeEvent)="onMode()"
          (reportEvent)="onReport()">

  <app-search (searchEvent)="onSearch($event)"></app-search>

  <app-datatable-pageable *ngIf="!switchMode"
                          #dataTable
                          [query]="query"
                          [tableType]="typeTable"
                          (selectEvent)="onSelect($event)"
                          [isEmailPresent]="true"
                          [isImage]="true"
                          [footerText]="'Employées'"
                          [columns]="columns">
  </app-datatable-pageable>

  <app-emp-grid
    (selectEvent)="onGridSelect($event)" *ngIf="switchMode"></app-emp-grid>
</app-card>
