<div [@zoomIn]="zoomIn"
     class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-4 large-up-6 align-middle-center center">
  <app-emp-card *ngFor="let employe of employeList"
                class="cell"
                [showButton]="true"
                (buttonEvent)="onProfile(employe)"
                (cardEvent)="onCardClicked(employe)"
                [fullName]="employe.prenom + ' '+employe.nom"
                [image]="employe.image"></app-emp-card>
</div>
