<div class="grid-x grid-margin-x grid-margin-y">
  <app-chart-line
    *ngIf="isData"
    class="cell"
    [labels]="congeStats?.congeLabels"
    [data]="[{data:congeStats?.congeData,label: 'Congé'}]"
    [title]="'Congé'">
    <app-stats-form (daysEvent)="onCongeDays($event)"
                    (dateEvent)="onCongeDate($event)"></app-stats-form>
  </app-chart-line>
</div>
